.container {
    display: flex;

    /* По умолчанию элементы распределяются по горизонтали */
    /* flex-direction: row; */

    /* распределяем свободное пространоство вокруг элементов */
    justify-content: space-around;
    justify-content: space-between;
    align-items: center;
    background-color: yellowgreen;
    width: 100%;
    min-height: 250px;
}

.container>div {
    width: 100px;
    height: 100px;
    margin: 5px;
    color: white;
    background-color: rgb(83, 83, 83);

}

.container2 {
    flex-direction: row;
    width: 100%;
    min-height: 800px;
    background-color: gainsboro;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.container2_items {
    margin: 10px;
    width: 150px;
    height: 150px;
    background-color: #982915;
}

.card {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    width: 700px;
    height: 750px;
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
}

.item2 {
    align-self: flex-start;
}

.card>img {
    /* растягиваем картинку под размер контейнера */
    width: 70%;

}

.card>p {

    width: 70%;
}